.Palette {
  height: 100%;
  width: 100%;
}
.Palette-colors {
  display: flex;
  flex-flow: wrap;
  height: 90vh;
}

.Palette-footer {
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 1rem;
}
